<form action="/productos" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Name</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" name="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Url Picture</label>
        <input type="text" class="form-control" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>