<% if(productos.length === 0 ){ %>

    <p class="m-0">No hay productos.</p>
  
  <% } else { %>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>
  
        <% productos.forEach((producto) => { %>
  
          <tr>
            <th scope="row"><%= producto.id %></th>
            <td><%= producto.title %></td>
            <td><%= producto.price %></td>
            <td style="width: 100px;"><img class="w-100" src="<%= producto.thumbnail %>"></td>
          </tr>
  
        <% }); %>
  
      </tbody>
    </table>
  
  <% } %>