<main class="w-100">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Ingrese Productos</h1>
        <a href="/productos" class="btn btn-primary">Ver productos</a>
    </div>
    <div class="border p-5 rounded">
        {{> form }}
    </div>
</main>