<main class="w-100">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Vista de Productos</h1>
        <a href="/" class="btn btn-primary">Ver formulario</a>
    </div>
    <div class="border p-5 rounded">
        {{> table }}
    </div>
</main>