<form action="/productos" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="text" class="form-control" name="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Foto URL</label>
        <input type="text" class="form-control" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>