<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motores de Plantillas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css
    ">
</head>

<body class="vh-100 container d-flex justify-content-center align-items-center">
    <main class="w-100">
        <div class="d-flex justify-content-between align-item-center mb-5">
            <h1>Add products</h1>
            <a href="/productos" class="btn btn-primary">Products</a>
        </div>
        <div class="border p-5 rounded">
            <%- include('../partials/form.ejs');%>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js
    "></script>
</body>

</html>